
.menu_folder{
    position: relative;
    width: 100%;
    
}

.mainDiv{
    position: absolute;
    height: 100%;
}



// ------------------------------
// main Div
// ------------------------------


// configuration de la grande div et ses 2 sous div
.mainDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.subDiv1{
    width: 50%;
}

.subDiv2{
    width: 50%;
}


// style
.mainDiv{
    background-color: #223F3E;
}


// ----------------------------------
//subDiv1 (div 2/3 ecran)
// ----------------------------------

// configuration de la subDiv1
.subDiv1{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.subDiv1__top{
    height: 30%;
}

.subDiv1__bottom{
    height: 30%;
}


// style






// -------------------------------------
// subDiv1__top (div du haut de la div des 2/3)
// --------------------------------------


// configuration des 2 div cote a cote dans la div du haut de subDiv1
.subDiv1__top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

// style


// -------------------------------------
// subDiv1__top__profile (div de gauche PROFILE)
// --------------------------------------

.subDiv1__top__profile{
    background-color: #2B5554;
}


// -------------------------------------
// subDiv1__top__partners (div de droite PARTNERS)
// --------------------------------------


// -------------------------------------
// subDiv1__bottom (div du bas de la div des 1/3)
// --------------------------------------

.subDiv1__bottom{
    background-color: #2B5554;
}





// -------------------------------------
// subDiv2 (div 1/3 ecran)
// -------------------------------------
.subDiv2{
    background-color: #2B5554;
}



