
.folder_container{
  width: 80%;
  margin:0 auto;
  background-color: #223F3E;
}

header{
  width: 100%;
  height: 80px;
  background-color: #2B5554;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

header img{
  height: 80px;
}

.header_button{
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px;
}

.menu{
  width: 265px;
  height: 1000px;
  background-color: #2B5554;
  display: flex;
  flex-direction: column;
}

.folder{
  display: flex;
  align-items: center;
  justify-content: space-around; 
  margin: 30px;
}

.folder h3{
  color: white;
}

.main_container{
  display: flex;
}

.menu_folder{
  display: flex;
  
}

.menu_folder img{
  width: 300px;
  height: 300px;
  justify-items: center;
  align-items: center;
}