.folder_body{
  background-color: #223F3E;

}

// Header 

header{
  width: 100%;
  height: 80px;
  background-color: #2B5554;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

header img{
  height: 80px;
}

.header_button{
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px;
}

//Main_container

    //Menu latéral

.menu{
  width: 265px;
  height: 1000px;
  background-color: #2B5554;
  display: flex;
  flex-direction: column;
}

.folder{
  display: flex;
  align-items: center;
  justify-content: space-around; 
  margin: 30px;
}

.folder h3{
  color: white;
}

.main_container{
  display: flex;
}



    //Menu_folder

.menu_folder{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu_folder>img{
  z-index: -1;
  width: 600px;
  height: 600px;
  margin-top: 10%;
  margin-left: 10% auto;
  position: absolute;
  margin-left: 25%;
  margin-top: -4%;
}

.main_folder img{
  width: 100px;

}

.first_part, .second_part{
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  color: white;
  justify-content: space-around;
  width: 1000px;
  align-items: center;
}

.all_folders{
  margin-top: -30%;
}

.main_folder{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_folder h3{
  margin-top: 10px;
font-size: 1.5rem;
}

// Console css

.console{
  height: 100%;
  width: 640px;
  background-color: black;
  border: 4px solid #159616;
  position: absolute;
  top: 0px;
  right: 0px;
}

.header_console{
  width: 100%;
  height: 40px;
  background-color: #159616;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_console p{
  color: black;
  margin-left: 5%;
  font-family:'Source Code Pro', monospace;
  font-weight: bolder;
}

.button_close{
  height: 30px;
  width: 50px;
  background-color: black;
  border-radius: 10px;
  margin-right: 5%;
  color:#159616;
  justify-content: center;
  display: flex;
  align-items: center;
}

.main_console > p{
  color: #159616;
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  margin-left: 5%;
  margin-top: 5%;
}

.main_console h3{
  color: #159616;
  font-family: 'Source Code Pro', monospace;
}

.console_password, .console_begin{
  display: flex;
  margin-top: 10%;
  margin-left: 5%;
  align-items: center;
}



.console_password_box, .console_begin_box{
  margin-left: 5%;
  background-color: black;
  border: 2px solid #159616;
  border-radius: 20px;
  height: 30px;
  width: 30%;
  color: #159616;
  font-size: 1.8em;
  
  padding-left: 10px;
}

.console_password_box{
  padding-bottom: 7px;
}

.console_begin_box{
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  padding-bottom: 5px;
}

.help{
  margin-top: 5%;
  display: block;
}
.help p{
  margin-top: 1%;
  color: #159616;
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  margin-left: 5%;
}

.wrong{
  display: none;
}

.true{
  display: block;
}