body{
  p, h1, h2, h3{
    font-family: 'Nunito Sans', sans-serif;
  }
}

h1 {
  text-align: center;
}

footer {
  vertical-align: bottom;
  p, h1, h2, h3{ 
    color: white;
    font-family: 'Nunito Sans', sans-serif;
  }  
}


