body{
    margin: 100px 0;
}
.container_homePage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_homePage img{
    width: 300px;
    display: inline-block;
    justify-content: center;
}

.connexion{
    margin-top: 40px;
}

.id, .password{
    padding: 20px;
    color: white;
}

.box{
    border: 2px solid white;
    width: 300px;
    height: 40px;
    border-radius: 3px;
}

.button{
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    width: 200px;
    height: 40px;
    color: #2B5554;
    text-align: center;
    padding: 10px;
}

footer{
    display: flex;
    justify-content: center;
    margin: 100px; 
}

// Bloc d'explication à fermer au clique sur le boutton 

.explications_button{
    width: 200px;
    height: 40px; 
    border: 2px solid #00FF01;
    background-color: #00FF01;
    text-align: center; 
    padding: 10px;
    border-radius: 5px;
}

.explications{
    z-index: 2;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    position: absolute;
}

.explications_container_box{
    z-index: 1;
    background: black; 
    opacity: 90%;
    width: 1000px;
    height: 600px;   
    border: 2px solid  #00FF01;
    border-radius: 5px;
    position: absolute;
}

.explications_container{
    z-index: 2;
    display: flex;
    width: 700px;
    flex-direction: column;
}

.explications_container img{
    z-index: 2;
    width: 242px;
    margin: 0 auto;
}

.explications_container p{
    z-index: 2; 
    text-align: center; 
    font-size: 20px;
    color: white;
}

.explications_button{
    z-index:2;
    margin: 50px auto;

}

